body{
    font-size: 15px;
    font-family: serif;
    background: greenyellow;
    height: 100%;
}

.container{
    width: 800px;
    margin: 35px auto;
    color: blue;
    text-align: center;
}

h1, h2, h3{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds, #tens{
    font-size: 2em;
}

button{
    background: yellow;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    
}